body {
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.brand-logo img {
    width: 150px;
    margin-bottom: 30px;
}

.form-card {
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 380px;
    text-align: center;
    box-sizing: border-box;
}

.form-card h2 {
    color: #1e9021;
    font-size: 24px;
    margin-bottom: 10px;
}

.form-card p {
    color: #777;
    margin-bottom: 30px;
}

.field-group {
    text-align: left;
    margin-bottom: 20px;
}

.field-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

.field-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.field-group input:focus {
    outline: none;
    border-color: #318a34;
}

.btn-main {
    width: 100%;
    padding: 15px;
    background-color: #378d3a;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-main:hover {
    background-color: #153016;
}
.contenedor {
    
    background-color: #ffffffb7;
}