body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
}

.sidebar .logo {
    margin-bottom: 40px;
}

.sidebar .logo img {
    width: 150px;
}

.menu {
    width: 100%;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    text-decoration: none;
    color: #333;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #e6e6e6;
}

.menu li.active a {
    background-color: #e6f7e6;
    color: #4CAF50;
    font-weight: bold;
}

.menu a span {
    margin-left: 10px;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: #fff;
    padding: 15px 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-icons a {
    margin-left: 20px;
}

.header-icons img {
    width: 24px;
    height: 24px;
}

.content-body {
    background-color: #fff;
    padding: 30px;
     box-sizing: border-box;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 60px;
}

.content-body h1 {
    color: #4CAF50;
    font-size: 32px;
    margin-bottom: 60px;
}

.content-body p {
    color: #555;
    line-height: 1.6;
    margin-bottom: 30px;
}

.objective-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.objective-text {
    flex-grow: 1;
}

.objective-section h2 {
    color: #4CAF50;
    margin-bottom: 15px;
}

.objective-section ul {
    list-style-type: none;
    padding: 0;
}

.objective-section li {
    margin-bottom: 10px;
    color: #555;
    position: relative;
    padding-left: 20px;
}

.objective-section li::before {
    content: '•';
    color: #4CAF50;
    font-size: 1.5em;
    position: absolute;
    left: 0;
    top: -5px;
}

.image-circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.image-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* en paginainicio.css */
.content-frame {
  flex: 1;
  width: 100%;
  height: calc(100vh - 60px); /* resta la altura de la navbar */
  border: none;
  margin: 0;
  padding: 0;
  display: block;
}
